@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');


body {
  // position: absolute;
  margin: 0px;
}

.nav-button {
  margin: 10px 20px;
}


nav a {
  padding: 0 1rem;
}

// -------------------------  navbar  -------------------------

.caca {
  position: fixed;
  background-color: white;
  // z-index: 4;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: -10px;
  margin-left: -200px;
  padding-right: 100px;
  padding-left: 20px;
  padding-bottom: 120px;
  width: 120%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.logo1 {
  position: fixed;
  z-index: 4;
  margin-left: 100px;
  margin-top: 40px;
}

.botones {
  position: fixed;
  z-index: 4;
  margin-left: 70vw;
  margin-top: 65px;
}

.navbar {
  width: 100%;
  display: grid;
  position: fixed;
  grid-template-columns: repeat(4(1fr, 3fr, 0,5fr, 0,5fr));
  padding-top: 40px;
  padding-bottom: 100px;
  // background-color: aqua;
  margin-top: 80px;
  z-index: 2;
}


.card__title {
  text-align: center;
}

.title {
  font-family: 'Brandon Grotesque Regular', sans-serif;
  font-size: 4.0vw;
  background-color: white;
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #FE027E;
  margin-top: 160px;
}

.edit-title {
  z-index: 3;
  width: 100%;
  position: fixed;
  margin-top: 250px;
  background-image: linear-gradient(white , rgba(246, 246, 245, 0.966));
  padding-left: 34%;
  padding-right: 35%;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-left: -20px;
}

.buttons {
  display: inline-block;
  text-align: center;
  position: fixed;
  z-index: 4;
  margin-top: -280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  button {
    background-color: white;
    margin-right: 10px;
    font-size: 16px;
  }
}

.tituloeditado {
  display: grid;
  grid-template-rows: repeat(2 1fr 2fr);
}

.editcard {
  z-index: 4;
}

.myicon {
  position: relative;
  top: 145px;
  right: 15vw;
  color: gray;
}

.music-bar {
  width: 68%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -320px;
  text-align: center;
  z-index: 2;
  position: fixed;
}

// .music-back {
//   text-align: center;
//   background-color: white;
//   width: 100%;
//   z-index: 2;
//   position: fixed;
//   padding-top: 60px;
//   padding-bottom: 30px;
//   margin-top: -135px;
// }

// ------------------------- Cards grid ------------------------- 

.cards-margin {
  margin-right: -30px;
  margin-top: 400px;
  margin-left: 3vw;
  margin-right: 6vw;
}

// ------------------------- home page ------------------------- 
.home {
  margin-left: 15%;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.home-form {
  margin-top: 12%;
  width: 30%;
}

.home-image {
  margin-top: 7%;
  width: 45%;
}


// ------------------------- Add Message Form ------------------------- 
.add-form {
  // position: fixed;
  z-index: 1;
  width: 40%;
  margin-top: 280px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.edit-message {
  z-index: 4;
}

.message-edit  {
  color: #FE027E;
}

// ------------------------- Display Card ------------------------- 

.card {
  margin: 5px;
  padding: 1.5rem 1.5rem 0.5rem;
  width: 320px;
  background-color: white;
  font-size: 20px;
  border: solid 2px rgb(255, 213, 0);
  // font-family: 'Inter', sans-serif;
  font-family: 'Inter', sans-serif;
  // font-weight: 150;
  box-shadow: 10px 10px 40px rgba(127, 126, 79, 0.482);
  transition: transform .3s ease;
  cursor: pointer;
  z-index: 1;
}

.card_message {
  padding-top: 1rem;
}


.card__image img {
  width: 316px;
  margin-left: -24px;
  margin-top:-32px;
  margin-bottom: 20px;
}

.from {
  text-align: right;
  font-style: italic;
  font-family: 'Gochi Hand', cursive;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 7; /* Sit on top */
  padding-top: 30vh; /* Location of the box */
  left: 0;
  top: 0;
  // width: 100%; /* Full width */
  // height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px;
  text-align: center;
}

.modal-body {
  padding: 10px 16px;}

.modal-footer {
  padding: 2px 16px;
}

.buttons {
  text-align: center;
}

.home_buttons {
  text-align: end;
  padding-top: 2rem;
  padding-right: 2rem;
}

a:hover {
  text-decoration: underline;
}


//profile page
a {
  text-decoration: none;
  color: #000;
}

.profileTitle {
  font-family: 'Edu SA Beginner', cursive;
  font-size: 4rem;
  // color: #FE027E;
  padding-bottom: 20px;
  padding-top: 50px;
}

.profile {
  text-align: center;
}

.email {
  font-family: 'Inter', sans-serif;
  font-weight: 250;
  padding-bottom: 2rem;
}

.mycards {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content:space-between
}

.music {
  position: relative;
  margin-top: 25%;
  margin-left: 47%;
}

.button-position-one {
  // text-align: center;
  margin-top: 1%;
  margin-left: 30%

}

.button-position-two {

  margin-top: 1%;
  margin-left: 1%
}

.button-position-three {
 margin-top: 1%;
 margin-left: 1%

}