@import url('http://fonts.cdnfonts.com/css/brandon-grotesque-regular');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Oswald&display=swap');

body {
  margin: 0;
  padding: 20px;
}

// -------------------------  navbar  -------------------------
.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4(1fr, 3fr, 0,5fr, 0,5fr));
  padding-top: 90px;
  padding-bottom: 60px;
}

#logo {
  img {
    width: 190px;
    position: fixed;
    z-index: 2;
    background-color: white;
    margin-top: -15px;
    margin-left: 30px;
  }
}

.title {
  font-family: 'Brandon Grotesque Regular', sans-serif;
  font-size: 60px;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 110%;
  padding-bottom: 90px;
  padding-top: 90px;
  padding-left: 570px;
  margin-top: 30px;
  margin-left: -20px;
  color: #FE027E;
}

.links {
  position: fixed;
  z-index: 1;
  margin-left: 90vw;
  margin-top: 40px;
  display: grid;
  grid-template-rows: repeat(2);
  a {
    padding: 10px;
    font-size: 18px;
  }
}


.bottuns-holder {
  z-index: 3;
  position: fixed;
  background-color: white;
  margin-left: 1093px;
  margin-top: 20px;
  font-size: 16px;
}

.edit-title {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-top: 50px;
  background-image: linear-gradient(white , rgba(246, 246, 245, 0.966));
  padding-top: 40px;
  padding-left: 34%;
  padding-right: 35%;
  padding-bottom: 10px;
  margin-left: -20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 3;
  margin-top: -110px;
  margin-left: 460px;
  margin-right: 3vw;
  button {
    background-color: white;
    margin-right: 10px;
    font-size: 16px;
  }
}

.music-bar {
  width: 50%;
  margin-left: 170px;
  z-index: 2;
  position: fixed;
}

// ------------------------- Cards grid ------------------------- 

.cards-margin {
  margin-right: -30px;
  margin-top: 130px;
}
.cards-margin2 {
  margin-left: 2vw;
  margin-right: 10vw;
  margin-top: 40px;
}

// ------------------------- media queries  ------------------------- 
@media (min-width: 320px)and(max-width: 700px) {
  .title {
    font-size: 35px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 170px;
  }
  #logo {
    margin-left: -10px;
    margin-top: 0px;
    img {width: 100px;
    }
  }
  .links {
    margin-left: 85%;
    margin-top: -10px;
    a {
      font-size: 16px;
      padding-left: 5px;
      margin-bottom: -15px;
      margin-top: -5;
    }
  }
  .bottuns-holder {
    margin-left: 526px;
    margin-right: 5px;
    margin-top: -10px;
    font-size: 12px;
  }
  .buttons {
    margin-left: 20px;
    margin-top: -60px;
    button {
      background-color: white;
      margin-right: 5px;
      font-size: 12px;
    }
  }
  .navbar {
    padding-top: 40px;
  }
  .cards-margin {
    margin-right: -30px;
    margin-top: 50px;
  }
  
}

@media (min-width: 701px)and(max-width: 850px) {
  .title {
    font-size: 42px;
    padding-bottom: 51px;
    padding-top: 60px;
    padding-left: 190px;
  }
  #logo {
    margin-left: -10px;
    margin-top: 0px;
    img {width: 120px;
    }
  }
  .links {
    margin-left: 85%;
    margin-top: -10px;
    a {
      font-size: 16px;
      padding-left: 5px;
      margin-bottom: -15px;
      margin-top: -5;
    }
  }
  .bottuns-holder {
    margin-left: 596px;
    margin-right: 5px;
    margin-top: 0px;
    font-size: 12px;
  }
  .buttons {
    margin-left: 90px;
    margin-top: -70px;
    button {
      background-color: white;
      margin-right: 5px;
      font-size: 12px;
    }
  }
  .navbar {
    padding-top: 40px;
  }
  .cards-margin2 {
    margin-left: 2vw;
  }
  .cards-margin {
    margin-right: -30px;
    margin-top: 70px;
  }
}


@media (min-width: 850px) and (max-width: 1050px) {
  .title {
    font-size: 47px;
    padding-bottom: 82px;
    padding-left: 250px;
  }
  #logo {
    img {width: 160px;
    }
  }
  .links {
    margin-left: 86%;
    margin-top: 35px;
    a {
      font-size: 17px;
      margin-bottom: -7px;
      margin-top: -5;
    }
  }
  .bottuns-holder {
    margin-left: 713px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 14px;
  }
  .buttons {
    margin-left: 135px;
    margin-top: -90px;
    button {
      background-color: white;
      margin-right: 10px;
      font-size: 14px;
    }
  }
  .navbar {
    padding-top: 65px;
  }
  .cards-margin2 {
    margin-left: 4vw;
    margin-right: 8vw;
  }
  .cards-margin {
    margin-right: -30px;
    margin-top: 100px;
  }
}

@media (min-width: 1050px) and (max-width: 1400px) {
  .title {
    font-size: 55px;
    padding-bottom: 62px;
    padding-left: 380px;
  }
  #logo {
    img {width: 160px;
    }
  }
  .links {
    margin-left: 86%;
    margin-top: 35px;
    a {
      font-size: 17px;
      margin-bottom: -7px;
      margin-top: -5;
    }
  }
  .bottuns-holder {
    margin-left: 846px;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 14px;
  }
  .buttons {
    margin-left: 270px;
    margin-top: -100px;
    margin-bottom: 0px;
    button {
      background-color: white;
      margin-right: 10px;
      font-size: 14px;
    }
  }
  .navbar {
    padding-top: 65px;
  }
  .cards-margin2 {
    margin-left: 6vw;
    margin-right: 8vw;
  }
  .cards-margin {
    margin-top: 120px;
  }
}

// ------------------------- home page ------------------------- 
.home {
  margin-left: 15%;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.home-form {
  margin-top: 12%;
  width: 30%;
}

.home-image {
  margin-top: 7%;
  width: 45%;
}


// ------------------------- Add Message Form ------------------------- 
.add-form {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: 80px;
  background-color: white;
  padding-top: 40px;
  padding-left: 30%;
  padding-right: 35%;
  padding-bottom: 10px;
}

.edit-message {
  z-index: 4;
}

.message-edit  {
  color: #FE027E;
}

// ------------------------- Display Card ------------------------- 
.cards-margin {
  margin-left: 80px;
  margin-right: 80px;
}

.card {
  margin: 5px;
  padding: 1.5rem 1.5rem 0.5rem;
  width: 350px;
  background-color: white;
  font-size: 20px;
  border: solid 2px rgb(255, 213, 0);
  font-family: 'Inter', sans-serif;
  font-weight: 150;
  box-shadow: 10px 10px 40px rgba(127, 126, 79, 0.482);
  transition: transform .3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card__title {
  font-weight: 800;
}

.card__image img {
  width: 346px;
  margin-left: -24px;
  margin-top:-32px;
  margin-bottom: 20px;
}

.from {
  text-align: right;
  font-style: italic;
  font-family: 'Gochi Hand', cursive;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  // width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  // color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  text-align: center;
  // background-color: gray;
  // color: white;
}

.modal-body {
  padding: 10px 16px;}

.modal-footer {
  padding: 2px 16px;
  // background-color: gray;
  // color: white;
}


