@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');


body {
  margin: 0px;
}

.caca {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones {
  display: flex;
}

.title {
  text-align: center;
  font-family: Gochi Hand;
  font-size: 5rem;
  color: #FE027E;
}

.edit-title {
  width: 25rem;
  margin: auto
}

.myicon {
  position: relative;
  top: 145px;
  right: 15vw;
  color: gray;
}

.music-bar {
  width: 68%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -320px;
  text-align: center;
  z-index: 2;
  position: fixed;
}

@media screen and (max-width: 992px) {
    .title {
      font-size: 3rem;
    }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2rem;
  }

  .edit-title {
    width: 20rem;
    
  }
}

// ------------------------- Cards grid ------------------------- 

.cards-margin {
  margin: auto;
  margin-top: 1rem;
  align-items: center;
}

// ------------------------- home page ------------------------- 
.home {
  margin: auto;
  width: 100%;
}

.home-form {
  padding-top: 20%;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    // margin: 0 20px 0 20px;
  }

  .home-form {
    padding-top: 0;
    margin-top: 5%;
    width: 30%;
  }

  .home-image {
    padding-top: 2%;
    width: 45%;
    margin: auto;
  }
}


// ------------------------- Add Message Form ------------------------- 
.add-form {
  // position: fixed;
  z-index: 1;
  width: 40%;
  margin-top: 2rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.edit-message {
  z-index: 4;
}

.message-edit  {
  color: #FE027E;
}

// ------------------------- Display Card ------------------------- 

.card {
  margin: 1rem auto;
  padding: 1.5rem 1.5rem 0.5rem;
  width: 320px;
  background-color: white;
  font-size: 20px;
  border: solid 2px rgb(255, 213, 0);
  // font-family: 'Inter', sans-serif;
  font-family: 'Inter', sans-serif;
  // font-weight: 150;
  box-shadow: 10px 10px 40px rgba(127, 126, 79, 0.482);
  transition: transform .3s ease;
  cursor: pointer;
}

.card_message {
  padding-top: 1rem;
}


.card__image img {
  width: 316px;
  margin-left: -24px;
  margin-top:-32px;
  margin-bottom: 20px;
}

.from {
  text-align: right;
  font-style: italic;
  // font-family: 'Gochi Hand', cursive;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 7; /* Sit on top */
  padding-top: 30vh; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px;
  text-align: center;
}

.modal-body {
  padding: 10px 16px;}

.modal-footer {
  padding: 2px 16px;
}

.buttons {
  text-align: center;
}

.btn {
  margin: 1rem;
}

.home_buttons {
  text-align: end;
  padding-top: 2rem;
  padding-right: 2rem;
}

a:hover {
  text-decoration: underline;
}

//profile page
a {
  text-decoration: none;
  color: #000;
}

.profileTitle {
  font-family: 'Gochi Hand';
  font-size: 4rem;
  // color: #FE027E;
  padding-bottom: 20px;
}

.profile {
  text-align: center;
}

.email {
  font-family: 'Inter', sans-serif;
  font-weight: 250;
  padding-bottom: 2rem;
}

.mycards {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content:space-between
}

.music {
  margin: auto;
  text-align: center;

}

.button-position-one {
  margin-top: 1%;
  margin-left: 30%
}

.button-position-two {
  margin-top: 1%;
  margin-left: 1%
}

.button-position-three {
 margin-top: 1%;
 margin-left: 1%
}